*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo-container > img{
    width: 150px;
}
.nav-items {
    display: flex;
    align-items: center;
}
.nav-items > ul{
    display: flex;
    font-size: 20px;
    list-style-type: none;
}
.nav-items > ul > li{
    margin: 10px;
    padding: 10px;
}
.body{
    padding: 10px;
}
.res-cardcontainer{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 200px;
    border: 1px solid black;
    padding: 3px;
    margin: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover{
    transform:scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.card-image{
    width: 100%;
}
.filter-btn{
    padding: 5px;
    margin: 5px 20px;
    cursor: pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-cards{
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}
.login-btn{
    padding:0px 20px;
    margin-right: 10px;
}
.filter{
    display: flex;
}
.search-inp{
    padding:0 20px;
}